---
layout: page
title: "Skydark 的胡言乱语"
tagline: This is a blog just for fun.
titleline: 你看到的都是幻觉
links: 
  - url: "https://plus.google.com/117704226616638577311"
    name: "My Google Plus"
  - url: "http://icemaple.info"
    name: "远凌风"
    title: "个人心情，技术文章"
  - url: "http://ori0n.co.de"
    name: "暗夜北辰"
  - url: "http://www.is.pku.edu.cn/student/hutingting/"
    name: "恶意卖萌的小师妹"
    title: "你这首页过于发指了……"
  - url: "http://kobato.us"
    name: "小鸠的部屋"
    title: "雨，何时才会停呢？"
---
{% include JB/setup %}
{% include sd/logo %}

{% assign pagify_pages = "['about','pages']" %}
{% include sd/pagify %}

<h2 id="index_titleline">{{page.titleline}}</h2>
<hr id="index_line" />
<div class="span8 pull-left">
  <ul class="posts index_posts span8">
  <!-- for post in site.posts -->
  {% for post in paginator.posts %}
    <li>
	  <div class="index_intro span6">
	  <h3 class="index_title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
	  <p class="index_excerpt">{{ post.excerpt }}</p>
	  </div>
	  <span class="index_date span2">{{ post.date | date_to_string }}</span>
	</li>
  {% endfor %}
  </ul>
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
      {% if paginator.page == 2 %}
        <a href="/" rel="bookmark">Previous Page</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" rel="bookmark">Previous Page</a>
      {% endif %}
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="/page{{ paginator.next_page }}" rel="bookmark" style="float:right">Next Page</a>
      </li>
    {% endif %}
  </ul>
</div>

<div id="aside" class="well sidebar-nav">
<ul class="nav nav-list">

  <li class="nav-header">Categories</li>
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}

  <li class="nav-header">Tags</li>
  {% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
    	<li class="index_tags"><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    	<li class="index_tags"><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
  {% assign tags_list = nil %}
  <li class="clear"></li>
  
  {% include sd/disqus_recent_comment %}

  {% include sd/friend_links %}
  
  {% include sd/github %}
</ul>
</div>

