<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ BASE_PATH }}/css/syntax.css" rel="stylesheet" type="text/css" media="all">

    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
    <script type="text/javascript" src="{{ BASE_PATH }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{BASE_PATH}}/js/bootstrap.min.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{BASE_PATH}}/images/favicon.ico">
    <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    {% if page.mathjax %}
      {% include sd/math %}
    {% endif %}
  </head>

  <body>
    {% include sd/noie6 %}

    <div class="navbar" id="top-navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <ul class="nav subscription pull-right" data-subscription="rss">
            <li>
              <a href="{{BASE_PATH}}/atom.xml" rel="nofollow" title="subscribe via RSS">RSS</a>
            </li>
          </ul>
          <form class="navbar-search pull-right" method="get" action="http://www.google.com/search" target="google_window">
            <label for="g_search" class="hidden"></label>
            <input id="g_search" type="text" class="search-query" placeholder="Search..." name="q" />
            <input type="submit" name=”btnG” style="display:none" id="searchsubmit" value="Search" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="hidden" name="oe" value="UTF-8" />
            <input type="hidden" name="hl" value="zh-CN" />
            <input type="hidden" name="domains" value="{{site.production_url}}" />
            <input type="hidden" name="sitesearch" value="{{site.production_url}}" />
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div id="main-content" class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    <script type="text/javascript" src="{{BASE_PATH}}/js/sd.js"></script>
  </body>
</html>
